.faq {
    position: relative;
    
    @media (max-width: 1366px){
        overflow: hidden;
    } 
    .zalam{
        position: absolute;
        z-index: 0;
    }
    .zalam-1{
        left: -100px;
        @media (max-width:700px){
            display: none;
        } 
    }
    .zalam-2{
        right: -80px;
        img{
            @media (max-width:700px){
                width: 50%;
            } 
        }
        
    }
    & > div{
        position: relative;
        z-index: 1;
    }
    .faq-header{
        margin: 20px 0;
        font-family: inherit;
        @media (max-width:700px){
            padding: 15px 0;
        }   
         
        img{
            display: block;
            margin: auto;
           
            @media (max-width:700px){
                width: 100%;

            }
        }
        h1{
            text-align: center;
            font-size: 24px;
            @media(max-width: 700px){
                font-size: 18px;
            }
        }
    }
    .tabs{
        display: flex;
        max-width: 1200px;
        margin: auto;
        padding: 0 0 40px 0;
        overflow: visible;
        @media(max-width: 700px){
            max-width: unset;
            display: block;
            overflow: auto;
            white-space: nowrap;
        }
        &::-webkit-scrollbar{
            display: none;
        };
        button{
            display: inline-block;
            background-color: white;
            box-shadow: 0 20px 30px rgba(0,0,0,0.1);
            border: none;
            outline: none;
            font-family: inherit;
            font-size: 18px;
            font-weight: 500;
            border-radius: 30px;
            padding: 50px 20px 20px 20px;
            flex: 1;
            margin: 10px;
            cursor: pointer;
            @media(max-width: 700px){
                margin: 3px;
            }
            svg{
                display: block;
                margin: auto;
                margin-bottom: 10px;
                path{
                    transition: all .3s;
                }
                @media(max-width: 700px){
                    width: 40px;
                }
            }
            transition: all .3s;
            &:hover{
                color: #93C90F;
                
                svg{
                    fill: #93C90F;
                    path{
                        fill: #93C90F;
                    }
                }
            }
            @media(max-width: 700px){
                width: calc(50vw - 6px);
                font-size: 11px;
            }
        }
        .selected {
            color: #93C90F;
            svg{
                fill: #93C90F;
                path{
                    fill: #93C90F;
                }
            } 
        }
    }
    .accordion {
        background-color: white;
        box-shadow: 0 20px 30px rgb(0 0 0 / 10%);
        border: none;
        border-radius: 30px;
        transition: all 0.3s;
        padding: 30px;
        margin: 10px 90px;
        vertical-align:baseline;
        height: 40px;
        overflow: hidden;
        &>div{
            cursor: pointer;
        }
        @media (max-width:700px) {
            margin:10px;
            font-size:12px;
            border-radius: 10px;
           padding-bottom: 19px;
        }
        &>div{
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            p{
                margin: 0;
                padding: 0;
            }
            button{
                margin: 0 0 0 20px;
                padding: 0;
                background-color: white;
                border: none;
                transition:all .3s;
                cursor: pointer;
                &.button-rotate{
                    transform:rotate(45deg);
                    transition: all .3s;
                    svg {
                        fill: #93C90F;
                        transition: all .3s;
                        path{
                            transition: all .3s;
                            fill: #93C90F;
                        }
                    }
                }
                &:hover{
                    color: #93C90F;
                    svg{
                        fill: #93C90F;
                        path{
                            fill: #93C90F;
                        }
                    }    
                } 
                svg {
                    @media (max-width: 700px){        
                        width: 25px;
                        height: 25px;
                    }
                 }
            }
        }
        p{
            margin-right: 60px;
            @media (max-width: 700px){
                margin-right: 40px;  
            }
        }
    }
}

