.content-section {
    .all-btn {
        display: flex;
        button {
            position: relative;
            background-color: transparent;
            font-family: inherit;
            border: none;
            z-index: 0;
            border-radius: 30px 30px 0 0;
            font-size: 18px;
            font-weight: 500;
            padding: 20px 40px;
            &.selected {
                background-color: #fff;
                box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
            }
            &:hover {
                background-color: #fff;
                box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }
            @media (max-width: 1200px) {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
    .all-table {
        width: 100%;
        .table-container {
            display: none;
            width: 100%;
            position: relative;
            background-color: #fff;
            border-radius: 30px 0 30px 30px;
            &:first-of-type {
                display: block;
            }
            @media (max-width: 345px) {
                border-radius: 0 0 30px 30px;
            }
            table {
                width: 100%;
                text-align: center;
                border-spacing: 20px;
                @media (max-width: 500px) {
                    table-layout: fixed;
                }
                th {
                    font-size: 15px;
                    @media (max-width: 1200px) {
                        font-size: 12px;
                    }
                }
                td {
                    font-size: 15px;
                    font-weight: 1200;
                    @media (max-width: 1200px) {
                        font-size: 12px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    &:nth-of-type(4) {
                        a {
                            color: #00a5bd;
                            cursor: pointer;
                        }
                    }
                }
                @media (max-width: 1200px) {
                    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
                    border-radius: 20px 0 20px 20px;
                    border-spacing: 13px;
                    th:nth-of-type(2) {
                        display: none;
                    }
                    td:nth-of-type(2) {
                        display: none;
                    }
                }
            }
        }
    }
}
