.content-section {
    .dashboard-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0;
        background-color: #fff;
        border-radius: 30px;
        @media (max-width: 1200px) {
            flex-direction: column;
        }
        .title {
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            @media (max-width: 1200px) {
                display: none;
            }
        }
        .main-book-status {
            display: flex;
            @media (max-width: 1200px) {
                flex-direction: column;
            }
            .img-profile {
                img {
                    display: block;
                    margin: auto;
                    padding: 30px 20px;
                }
            }
            .hidden-title {
                display: none;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                @media (max-width: 1200px) {
                    display: block;
                }
            }
            .book-status {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 20px;
                @media (max-width: 1200px) {
                    border-radius: 20px;
                    flex-direction: column;
                    padding-top: 0;
                }
                .book-status-details {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 15px;
                    margin-top: 20px;
                    .book-status-details-row {
                        padding: 15px 0;
                        display: flex;
                        text-align: right;
                        @media (max-width: 1200px) {
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 0;
                        }
                        .details-row {
                            flex: 0.5;
                            span {
                                font-weight: normal;
                                &:first-of-type {
                                    font-weight: 750;
                                }
                            }
                            @media (max-width: 1200px) {
                                padding: 20px 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .books-library {
        width: 100%;
        overflow: hidden;
        display: block;
        position: relative;
        background-color: #fff;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        margin: 20px 0;
        @media (max-width: 1200px) {
            padding: 0;
        }
        .table {
            width: 100%;
            table-layout: fixed;
            padding: 38px 50px 15px 0;
            @media (max-width: 1200px) {
                padding: 15px 0 15px 15px;
            }
        }
        tr {
            td {
                list-style: none;
                font-size: 15px;
            }
            td:nth-of-type(1) {
                width: 135px;
                @media (max-width: 768px) {
                    width: unset;
                }
                img {
                    width: 100px;
                    @media (max-width: 768px) {
                        width: 60px;
                    }
                }
                .first-coloumn {
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    & div {
                        padding-right: 20px;
                        &:nth-of-type(2) {
                            @media (max-width: 1200px) {
                                display: none;
                            }
                        }
                    }
                }
            }
            td:nth-of-type(2),
            td:nth-of-type(3) {
                font-weight: normal;
                @media (max-width: 1200px) {
                    font-size: 14px;
                    font-weight: 600;
                }
                @media (max-width: 450px) {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
            td:nth-of-type(2) {
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
}
