.main-profile-container {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 100px;
    @media (max-width: 1050px) {
        padding: 20px;
    }

    .form-row {
        display: flex;
        @media (max-width: 1050px) {
            flex-direction: column;
            padding: 0 10px;
        }
        flex-wrap: wrap;
        align-items: baseline;
        p {
            @media (max-width: 1050px) {
                font-size: 12px;
            }
        }
        div {
            flex: 1;
            @media (max-width: 1050px) {
                width: 100%;
            }

            a {
                text-decoration: none;
                margin-right: 20px;
                font-weight: 400;
                color: $primary-color;
                @media (max-width: 1050px) {
                    font-size: 12px;
                    margin-right: 0;
                }
            }

            textarea {
                width: 100%;

                resize: vertical;
                outline: none;
                border: none;
                @media (max-width: 1050px) {
                    height: 50px;
                }
            }

            &.support-form-textarea {
                textarea {
                    height: 250px;
                    @media (max-width: 1050px) {
                        height: 200px;
                    }
                }
            }
        }
        :only-child {
            flex: 100%;
        }
    }
    button {
        margin: auto;
        font-family: inherit;
        display: flex;
    }
    .big-textarea {
        textarea {
            height: 200px;
            @media (max-width: 1050px) {
                height: 150px !important;
            }
        }
    }
}
