.terms{
    .terms-head{
        text-align: center;
        margin-top: 20px;
        img{
            width: 100%;
            max-width: 500px;
        }
        h1{
            font-size: 24px;
            @media(max-width: 1050px){
                font-size: 18px;
            }
        }
    }
    .tabs{
        display: flex;
        max-width: 1200px;
        margin: auto;
        padding: 0 0 40px 0;
        overflow: visible;
        @media(max-width: 768px){
            max-width: unset;
            display: block;
            overflow: auto;
            white-space: nowrap;
        }
        &::-webkit-scrollbar{
            display: none;
        };
        button{
            display: inline-block;
            background-color: white;
            box-shadow: 0 20px 30px rgba(0,0,0,0.1);
            border: none;
            outline: none;
            font-family: inherit;
            font-size: 18px;
            font-weight: 500;
            border-radius: 30px;
            padding: 50px 20px 20px 20px;
            flex: 1;
            margin: 10px;
            cursor: pointer;
            svg{
                display: block;
                margin: auto;
                margin-bottom: 10px;
                path{
                    transition: all .3s;
                }
                @media(max-width: 768px){
                    width: 40px;
                }
            }
            transition: all .3s;
            &:hover, &.selected{
                color: #93C90F;
                
                svg{
                    fill: #93C90F;
                    path{
                        fill: #93C90F;
                    }
                }
            }
            @media(max-width: 768px){
                width: calc(50vw - 20px);
                font-size: 11px;
            }
        }
    }
    .terms-1{
        overflow: hidden;
        padding: 0 30px;
        max-width: 1600px;
        margin: auto;
        h2{
            margin-top: 100px;
            font-size: 20px;
            @media(max-width: 768px){
                font-size: 18px;
                margin-top: 20px;
            }
        }
        p{
            font-size: 15px;
            @media(max-width: 768px){
                font-size: 12px;
                text-align: center;
            }
        }
        .flex-section{
            display: flex;
            align-items: center;
            & > div:first-of-type{
                flex: .4;
                margin-left: 20px;
            }
            & > div:last-of-type{
                flex: .6;
            }
            @media(max-width: 768px){
                flex-direction: column;
                text-align: center;
            }
            
            img{
                
                width: 100%;
                max-width: 500px;
                @media(max-width: 500px){
                    width: calc(100% - 20px);
                }
            }
        }
        .bottom-section{
            margin-top: 50px;
            ul{
                list-style: none;
                margin: 30px;
                margin-top: 60px;
                padding: 0;
                font-size: 15px;
                @media(max-width: 768px){
                    margin: 0;
                    font-size: 12px;
                }
                li{
                    margin: 20px;
                    @media(max-width: 768px){
                        margin: 20px 0;
                    }
                    svg{
                        margin-left: 20px;
                        vertical-align: -5px;
                    }
                }
            }
        }
    }
    .terms-2{
        overflow: hidden;
        padding: 0 30px;
        max-width: 1600px;
        margin: auto;
        h2{
            margin-top: 100px;
            font-size: 20px;
            text-align: center;
            @media(max-width: 768px){
                font-size: 18px;
                margin-top: 20px;
            }
        }
        p{
            font-size: 15px;
            @media(max-width: 768px){
                font-size: 12px;
                text-align: center;
            }
        }
        .flex-section{
            align-items: center;
            & > div:first-of-type{
                flex: .4;
                margin-left: 20px;
            }
            & > div:last-of-type{
                flex: .6;
            }
            @media(max-width: 768px){
                text-align: center;
            }
            
            img{
                width: 100%;
                max-width: 500px;
                display: block;
                margin: auto;
                @media(max-width: 500px){
                    width: calc(100% - 20px);
                }
            }
        }
        .bottom-section{
            margin-top: 50px;
            ul{
                list-style: none;
                margin: 30px;
                margin-top: 60px;
                padding: 0;
                font-size: 15px;
                @media(max-width: 768px){
                    margin: 0;
                    font-size: 12px;
                }
                li{
                    margin: 20px;
                    @media(max-width: 768px){
                        margin: 20px 0;
                    }
                    svg{
                        margin-left: 20px;
                        vertical-align: -5px;
                    }
                }
            }
        }
    }
    .terms-3-4{
        overflow: hidden;
        padding: 0 30px;
        max-width: 1600px;
        margin: auto;
        h2{
            margin-top: 100px;
            font-size: 20px;
            @media(max-width: 768px){
                font-size: 18px;
                margin-top: 20px;
            }
        }
        p{
            font-size: 15px;
            @media(max-width: 768px){
                font-size: 12px;
                text-align: center;
            }
        }
        .flex-section{
            display: flex;
            align-items: center;
            & > div:first-of-type{
                flex: .6;
                margin-left: 20px;
            }
            & > div:last-of-type{
                flex: .4;
            }
            @media(max-width: 768px){
                flex-direction: column;
                text-align: center;
            }
            
            img{
                
                width: 100%;
                max-width: 500px;
                @media(max-width: 500px){
                    width: calc(100% - 20px);
                }
            }
        }
        .bottom-section{
            margin-top: 50px;
            ul{
                list-style: none;
                margin: 30px;
                margin-top: 60px;
                padding: 0;
                font-size: 15px;
                @media(max-width: 768px){
                    margin: 0;
                    font-size: 12px;
                }
                li{
                    margin: 20px;
                    @media(max-width: 768px){
                        margin: 20px 0;
                    }
                    svg{
                        margin-left: 20px;
                        vertical-align: -5px;
                    }
                }
            }
        }
    }
}