@import "main";
@import "fonts";
@import "_landing";
@import "_terms";
@import "_signInUp";
@import "_aboutUs";
@import "_faq";
@import "_contactUs";
@import "_blog";
@import "_cart";
@import "_bookDetail";
@import "_dashboard";
@import "_profile";
@import "_orders";
@import "_orderDetails";
html,body{
    margin: 0;
    padding: 0;
    font-family: dana;
    direction: rtl;
    background-color: #F7F7F7; 
    .app{
        height: 100vh;
        overflow: auto;
        position: relative;
    }
} 